@model List<Service>

<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Hizmetlerimiz</h2>
        </div>
    </div>
    <div class="row align-items-stretch">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="@item.Icon" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>