<div class="row">
    <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
            <img src="/banker/images/about_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
        </figure>
    </div>
    <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
            <h3 class="h3 mb-4 text-black">Talep</h3>
            <p>Bankamıza katılmak için mail adresinizi girin!</p>

        </div>

        <div class="mb-4">
            <ul class="list-unstyled ul-check success">
                <li>Bankamızdan kart talebi oluşturmak için,</li>
                <li>İhtiyaç kredisi için</li>
                <li>Ve bir çok çözüm için sizinle iletişime geçeceğiz.</li>
            </ul>

        </div>

        <div class="mb-4">
            <form action="#">
                <div class="form-group d-flex align-items-center">
                    <input type="text" class="form-control mr-2" placeholder="Mail Adresinizi Girin">
                    <input type="submit" class="btn btn-primary" value="Gönder">
                </div>
            </form>
        </div>



    </div>
</div>