<div class="row mb-5">
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
        <img src="/banker/images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Para Tasarrufu</h3>
        <p>Geleceğinizi güvence altına alın, sıkı tasarrufunuzu bizimle değerlendirin!</p>
    </div>
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
        <img src="/banker/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Online Alışveriş</h3>
        <p>Online Alışverişte Rahatlığın Anahtarı! Hızlı ve Güvenli İşlem İmkânıyla Siz Değerli Müşterilerimize En İyi Deneyimi Sunuyoruz. Hemen Ziyaret Edin, Alışverişin Keyfini Çıkarın!</p>
    </div>
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
        <img src="/banker/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Kredi / Banka Kartları</h3>
        <p>Mali İhtiyaçlarınızı Karşılayın! En uygun faiz oranlarıyla kredi ve banka kartı seçenekleriyle artık hayalleriniz gerçek oluyor. Hızlı başvuru ve onay süreci için hemen ziyaret edin!</p>
    </div>

</div>